<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:jdbc.properties" />

    <!--  druid  -->
    <bean id="druidDataSource" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="url" value="${andersen.url}" />
        <property name="driverClassName" value="${andersen.driver}" />
        <property name="username" value="${andersen.username}" />
        <property name="password" value="${andersen.password}" />
    </bean>

    <!--  jdbcTemplate  -->
    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="druidDataSource" />
    </bean>

    <!--  dao 配置: di jdbcTemplate  -->
    <bean id="studentDao" class="com.impl.dao.com.andersen.StudentDaoImpl">
        <property name="jdbcTemplate" ref="jdbcTemplate" />
    </bean>

    <!--  service 配置: di dao  -->
    <bean id="studentService" class="com.andersen.service.impl.StudentServiceImpl">
        <property name="studentDao" ref="studentDao" />
    </bean>

    <!--  controller 配置: di service  -->
    <bean id="studentController" class="com.controller.com.andersen.StudentController">
        <property name="studentService" ref="studentService" />
    </bean>

</beans>